<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.miguelgaeta.android_simple_time">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@android:color/transparent"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".AppActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="miguelgaeta.com"
                      android:scheme="http"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
